<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".loader").hide();
            //https://stackoverflow.com/questions/61916331/re-uploading-a-file-with-ajax-after-it-was-changed-causes-neterr-upload-file-c
            

            $("form#dataAction").submit(function (e) {
                console.log('Hello click button');
                e.preventDefault();
                var formData = new FormData(this);
                formData.append('question_type', 'action');
                file_name = formData.get('file');
                console.log('File_name:: ' + file_name.name);
                //console.log(formData)

                $(".loader").show();
                $("#resultAction").hide();

                $("#btnActionSubmit").attr('disabled', 'disabled');
                $(".tablink").attr('disabled', 'disabled');

                $.ajax({
                    url: '/videoqa/process',
                    enctype: 'multipart/form-data',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert(data);
                        $("#resultAction").show();
                        
                        var obj = JSON.parse(data)[0]
                        image_name = '/tgif-qa/video/' + obj.video_name
                        console.log('JSON:: ' + obj)
                        console.log('IMG:: ' + image_name)
                        $("#resultAction").text('Predicted-answer-index: ' + obj.answer);
                        $("#imgAction").attr('src',image_name);
                        $(window).scrollTop($('#imgAction').offset().top);


                        $("#btnActionSubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $(".loader").hide();


                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    error: function (e) {
                        $("#resultAction").show();
                        $("#resultAction").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnActionSubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $(".loader").hide();

                    }
                }).done(function () {
                    $(".loader").hide();
                });
            });

            $("form#dataFrameQA").submit(function (e) {
                console.log('Hello click button');
                e.preventDefault();
                var formData = new FormData(this);
                formData.append('question_type', 'frameqa')
                //console.log(formData)

                $(".loader").show();
                $("#resultFrameQA").hide();

                $("#btnFrameQASubmit").attr('disabled', 'disabled');
                $(".tablink").attr('disabled', 'disabled');

                $.ajax({
                    url: '/videoqa/process',
                    enctype: 'multipart/form-data',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        $("#resultFrameQA").show();
                        var obj = JSON.parse(data)[0]
                        image_name = '/tgif-qa/video/' + obj.video_name
                        console.log('JSON:: ' + obj)
                        console.log('IMG:: ' + image_name)
                        $("#resultFrameQA").text('Predicted-answer: ' + obj.answer);
                        $("#imgFrameQA").attr('src',image_name);
                        $(window).scrollTop($('#imgFrameQA').offset().top);

                        $("#btnFrameQASubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $(".loader").hide();
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    error: function (e) {
                        $("#resultFrameQA").show();
                        $("#resultFrameQA").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnFrameQASubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $(".loader").hide();

                    }
                }).done(function () {
                    $(".loader").hide();
                });
            });


            $("form#dataTransition").submit(function (e) {
                console.log('Hello click button');
                e.preventDefault();
                var formData = new FormData(this);
                formData.append('question_type', 'transition')
                //console.log(formData)

                $(".loader").show();
                $("#resultTransition").hide();

                $("#btnTransitionSubmit").attr('disabled', 'disabled');
                $(".tablink").attr('disabled', 'disabled');

                $.ajax({
                    url: '/videoqa/process',
                    enctype: 'multipart/form-data',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        $("#resultTransition").show();
                        var obj = JSON.parse(data)[0]
                        image_name = '/tgif-qa/video/' + obj.video_name
                        console.log('JSON:: ' + obj)
                        console.log('IMG:: ' + image_name)
                        $("#resultTransition").text('Predicted-answer-index: ' + obj.answer);
                        $("#imgTransition").attr('src',image_name);
                        $(window).scrollTop($('#imgTransition').offset().top);
                        
                        
                        $("#btnTransitionSubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $("#overlayTransition").fadeOut(300);
                        $(".loader").hide();
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    error: function (e) {
                        $("#resultTransition").show();
                        $("#resultTransition").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnTransitionSubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $(".loader").hide();

                    }
                }).done(function () {
                    $(".loader").hide();
                });
            });


            $("form#dataCount").submit(function (e) {
                console.log('Hello click button');
                e.preventDefault();
                var formData = new FormData(this);
                formData.append('question_type', 'count')
                //console.log(formData)

                $(".loader").show();
                $("#resultCount").hide();

                $("#btnCountSubmit").attr('disabled', 'disabled');
                $(".tablink").attr('disabled', 'disabled');

                $.ajax({
                    url: '/videoqa/process',
                    enctype: 'multipart/form-data',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        $("#resultCount").show();
                        var obj = JSON.parse(data)[0]
                        image_name = '/tgif-qa/video/' + obj.video_name
                        console.log('JSON:: ' + obj)
                        console.log('IMG:: ' + image_name)
                        $("#resultCount").text('Predicted-answer: ' + obj.answer);
                        $("#imgCount").attr('src',image_name);
                        $(window).scrollTop($('#imgCount').offset().top);
                        
                        $("#btnCountSubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $("#overlayCount").fadeOut(300);
                        $(".loader").hide();
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    error: function (e) {
                        $("#resultCount").show();
                        $("#resultCount").text(e.responseText);
                        console.log("ERROR : ", e);
                        $("#btnCountSubmit").removeAttr('disabled');
                        $(".tablink").removeAttr('disabled');
                        $(".loader").hide();
                    }
                }).done(function () {
                    $(".loader").hide();
                });
            });                        

        });

    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: rgb(54, 52, 52);
            /*color:rgb(255, 255, 255);*/
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            /* color: white; */
            margin: auto;
            width: 900px;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        input[type=text], select {
            width: 100%;
            max-width: 500px;
            padding: 8px 15px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Safari */
        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

    </style>

    <title>Upload new File</title>

</head>




<body>
    <button class="tablink" onclick="openPage('Action', this, 'red')" id="defaultOpen">Action</button>
    <button class="tablink" onclick="openPage('Frameqa', this, 'green')">Frameqa</button>
    <button class="tablink" onclick="openPage('Transition', this, 'blue')">Transition</button>
    <button class="tablink" onclick="openPage('Count', this, 'orange')">Count</button>

    <div id="Action" class="tabcontent">
        <h1>TGIF-QA action - multiple choices question</h1>
        <form id="dataAction" action="/process" method=post enctype=multipart/form-data>
            <p><label>Gif file</label> <input class="button" type=file name=file></p>
            <p><label>Question</label> <input type="text" name="question" placeholder="what does somebody do in xxx times ?"></p>
            <p><label>List of answer choices</label>
            <p>0 <input type="text" name="a1" placeholder="do something">
            <p>1 <input type="text" name="a2" placeholder="do something">
            <p>2 <input type="text" name="a3" placeholder="do something">
            <p>3 <input type="text" name="a4" placeholder="do something">
            <p>4 <input type="text" name="a5" placeholder="do something">
            <p>Your preference answer index
            <p>answer <input type="text" name="answer"></p>
            <p><input class="button" id="btnActionSubmit" type=submit value=Submit></p>
        </form>
        <div class="loader"></div>
        <span id="resultAction" class="result"></span>

        <p><img id="imgAction" src=""></p>
    </div>

    <div id="Frameqa" class="tabcontent">
        <h1>TGIF-QA frameqa - openended question</h1>
        <form id="dataFrameQA" action="/process" method=post enctype=multipart/form-data>
            <p>Gif file <input class="button" type=file name=file></p>
            <p>Question <input type="text" name="question" placeholder="what / how / - somebody / something - do ?"></p>
            <p>Your preference answer</p>
            <p>answer <input type="text" name="answer" placeholder="something"></p>
            <p><input class="button" id="btnFrameQASubmit" type=submit value=Submit></p>
        </form>
        <div class="loader"></div>
        <span id="resultFrameQA" class="result"></span>
        <p><img id="imgFrameQA" src=""></p>
    </div>

    <div id="Transition" class="tabcontent">
        <h1>TGIF-QA action - multiple choices question</h1>
        <form id="dataTransition" action="/process" method=post enctype=multipart/form-data>
            <p>Gif file <input class="button" type=file name=file></p>
            <p>Question <input type="text" name="question" placeholder="what is happening / do something - before / after ?"></p>
            <p>List of answer choices</p>
            <p>0 <input type="text" name="a1" placeholder="do / something"></p>
            <p>1 <input type="text" name="a2" placeholder="do / something"></p>
            <p>2 <input type="text" name="a3" placeholder="do / something"></p>
            <p>3 <input type="text" name="a4" placeholder="do / something"></p>
            <p>4 <input type="text" name="a5" placeholder="do / something"></p>
            <p>Your preference answer index</p>
            <p>answer <input type="text" name="answer"></p>
            <p><input class="button" id="btnTransitionSubmit" type=submit value=Submit></p>
        </form>
        <div class="loader"></div>
        <span id="resultTransition" class="result"></span>
        </p><img id="imgTransition" src="">
    </div>

    <div id="Count" class="tabcontent">
        <h1>TGIF-QA count - openended question</h1>
        <form id="dataCount" action="/process" method=post enctype=multipart/form-data>
            <p>Gif file <input class="button" type=file name=file></p>
            <p>Question <input type="text" name="question" placeholder="how many times something / somembody does something ?"></p>
            <p>Your preference answer</p>
            <p>answer <input type="text" name="answer" placeholder="1,2,3, ..."></p>
            <p><input class="button" id="btnCountSubmit" type=submit value=Submit></p>
        </form>
        <div class="loader"></div>
        <span id="resultCount" class="result"></span>
        </p><img id="imgCount" src="">
    </div>

    <script>
        //gif_name	question	answer	vid_id	key
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>

</html>